html, body {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 230px;
  text-align: center;
  font-size: 14px;
  cursor: default;
  background-color: #262a32;
  color: #e1e1e1;
}

a {
  color: #e1e1e1;
}

header {
  margin:0px auto; 
  margin-bottom: 4px;
}

header .version {
  font-weight: bold;
}

header h3 {
  margin: 0px;
  font-size: 28px;
}

header img {
  width: 72px;
}

section {
  margin: 8 4 8 4px;
  padding: 6px;
}

.border {
  border: 2px solid #ababab;
  border-radius: 4px;
}

section i {
  cursor: pointer;
  color: #282828;
  font-size: 20px;
}

section a {
  font-size: 16px;
}

section div img {
  width: 22px;
  height: auto;
  vertical-align: bottom;
}

section div svg {
  width: 22px;
  height: auto;
  vertical-align: middle;
}

.footer {
  border-top: 1px solid #ababab;
  margin-top: 12px;
}

select {
  margin: 4px;
}

.show-after-transitions {
  visibility: hidden;
}

.switcher {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 56px;
  height: 15px;
  line-height: 15px;
  margin: 5px;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switcher input {
  display: none;
}

.switcher__indicator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #2980b9;
  border-radius: 12px;
}

.switcher__indicator::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 56px;
  height: 4px;
  background-color: #2980b9;
  border-radius: 12px;
}

input.toggle:checked + .switcher__indicator::after {
  background-color: #2980b9;
  transform: translateX(40px);
}

input.toggle:checked + .switcher__indicator::before {
  background-color: #2980b9;
}

input.toggle:disabled + .switcher__indicator::after, input:disabled + .switcher__indicator::before {
  background-color: #2980b9;
}


/**
 * Test
 */

.big {
  font-size: 1.2em;
}

.small {
  font-size: .7em;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 12px;
  margin-bottom: 4px;
}

.custom-dropdown select {
  background-color: #2980b9;
  color: #fff;
  font-size: 16px;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  appearance: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

#info {
  color: #dcdc00;
  font-weight: bold;
  margin-bottom: 4px;
}

.wrapper-enabled {
  background: grey;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 188px;
  opacity: 0.6;
}